# EXCULDE VSCODE WORKSPACE AND AFFINITY PHOTO FILES
*.code-workspace
*.afphoto
*.lnk

# EXCLUDE BACKUPS/LOGS FOLDER
**/backup/
**/backups/
**/logs/

# EXCLUDE SPECIFIC FILES/FOLDERS
#*/docs/conten/
#/docs/conten/
#/assets/check-error-icons.afphoto
#/assets/Web-Components-Profile-Image.afphoto
/Demo.Fonts/Demo-WPF-Anwendung.ps1
/Demo.Fonts/Demo-WPF-Anwendung.txt
/Power.Ctrl.app/Power.Ctrl.app.lnk
/SysDaemon/TODO.TXT